{% extends 'base.html' %}
{% load static from staticfiles %}
{% block body %}

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner"
            style="background-position: center; background-image:url({% static 'images/about_us_baner.jpg' %});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-7 text-left">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeInUp">
							<h1 class="mb30">About Us</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	

	<div id="fh5co-team">
		<div class="container">
			<div class="row animate-box row-pb-md">
				<div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
					<h2>Meet Our Staff</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}